@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
    box-sizing: border-box;
    cursor: grab;
}

body {
    background-color: #41c464;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Creepster", system-ui;
}

canvas{
    background-image: url(images.jpg);
    display:block;
    border-radius: 5px;
}

h1{
    font-size:45px;
    color: brown;
}
.btn{
    cursor: grab;
    border:0;
    padding:10px 20px;
    background:black;
    color:white;
    border-radius:5px
}

.btn:hover{
    background: #222222;
}

.btn:active{
    transform: scale(0.98);
}

.rules-btn{
    position:absolute;
    top:30px;
    left:30px;
}
.rules{
    position:absolute;
    top:0;
    left:0;
    background-image: url(1e1.jpg);
    color: #41c464;
    min-height:100vh;
    width:400px;
    padding:20px;
    line-height:1.5;
    transform:translateX(-400px);
    transition:transform 1s ease-in-out;
}

.rules.show{
    transform: translateX(0);
}


.ring {
    position: relative;
    --pointerleft: 11%;
    --pointertop: 11%;
    --pointerdeg: -45deg;
    width: 25vmin;
    height: 25vmin;
    background-image: radial-gradient(red 0, red 50%, transparent 50%, transparent 100%), radial-gradient(green 0, green 50%, transparent 50%, transparent 100%), radial-gradient(white 0, white 60%, transparent 60%), conic-gradient(orange 0, green 130deg, white 130deg, white 230deg, red 230deg, orange 360deg);
    background-size: 11% 11%, 11% 11%, 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-position: 9.2% 82.3%, 90.8% 82.3%, center center, center center;
    border-radius: 50%;
    border-style: none;
  }

  .ring::after {
    position: absolute;
    content: '';
    width: 5%;
    height: 15%;
    left: var(--pointerleft);
    top: var(--pointertop);
    transform: rotate(var(--pointerdeg));
    border-style: solid;
    border-width: 0.5vmin;
    border-radius: 2vmin;
    background-color: white;
  }

  .speed {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: gray;
  }

  .speed .number {
    font-size: 3vw;
  }

  .speed .units {
    font-size: 1.5vw;
  }
